*{
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
     width: 100%;
    
    
}
.head{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
   
}
nav{
    display: inline-flex;
    justify-content: space-evenly;
    width: 35%;
    margin: 0 auto;

}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: 0.5s;
}
nav a:hover{
    color: rgba(0, 0, 0, 0.623);
}
.header-1 img{
    height: 40px;
    margin-left: 30px;
}
.head p{
    font-size: 1.4rem;
    text-align: center;
}
header button{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    border-radius: 2.5rem;
    margin-right: 30px;
    background-color: rgb(3, 63, 58);
    color: rgb(255, 254, 254);
    border: none;
   cursor: pointer;
   transition: 0.5s;
}
header button:hover{
    background-color: rgba(255, 245, 245, 0);
    color:  rgb(0, 0, 0);
    
}
.btn{
    text-align: center;
}
h1{ 
    width: 100%;
    margin: 0 auto;
    max-width: 45%;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 70px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.btn span{
    color:rgb(3, 63, 58);
}
.btn p{
    margin-bottom: 35px;
    color: rgba(0, 0, 0, 0.938);
}
.btn button{
    width: 10rem;
    margin: 5px;
}
.section-1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card-2{
    display: inline-flex;
    max-width: 10rem;
    height: 16rem;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin-top: 4rem;
    background-color:rgb(3, 63, 58);
}
.card-2 h4{
    font-size: 2rem;
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 500;
    
}
.card-2 p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.788);
    font-weight: lighter;
    
}
.big{
    width: 260px;
    height: 360px;
    border-radius: 1.3rem;
}
.card-22{
   line-height: 0.1rem;
    margin-top: 7rem;
   
}
.card-22 img{
   max-width: 30px;
}
.card-22 h4{
    font-size: 1.7rem;
}
.card-22 span{
    color:  rgb(3, 63, 58);
    font-weight: bold;
}
.card{
    display: flex;
    max-width: 260px;
    height: 360px;
    border-radius: 1.3rem;
    align-items: end;
    justify-content: center;
    line-height: 1.2rem;
}
#ex{
    padding: 2rem;
   background-color: rgba(2, 49, 45, 0.945);
}
#exept{
 max-width: 2.5rem;
 display: block;
    margin-bottom: 2rem;

}
.card p{
    color: rgba(0, 0, 0, 0.993);
    font-weight: 500;
    letter-spacing: 1px;
    
}


/* Section 2*/

.section-2{
   padding-top: 6rem;
   padding-bottom: 5rem;
   padding-left: 3.5rem;
   padding-right: 3.5rem;
   max-width: 90%;
   margin: 0 auto;
   margin-top: 6rem;
    background-color: rgb(3, 63, 58);
    color: rgb(0, 0, 0);
    border-radius: 0.3rem;
}
.container-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.head-2{
    text-align: center;
    margin-bottom: 4rem;
}
.head-2 h2{
    max-width: 28rem;
    margin: 0 auto;
    line-height: 2.5rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
    letter-spacing: 2.5px;
    font-weight: bold;
}
.head-2 p{
    color: rgba(0, 0, 0, 0.795);
}
.card-3{
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(8, 116, 107, 0.192);
}
.icon-row{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

}
.uno{
  width: 15%;
    
}
.dos{
    width: 10%;
}
.card-3 h4{
    font-size: 1.2rem;
}
.card-3 p{
    color: rgba(0, 0, 0, 0.774);
}



/* Section 3*/
.section-3{
    text-align: center;
    padding: 4rem;
    background-color: rgba(250, 235, 215, 0.459);
    max-width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 0.3rem;
}
.section-3 h2{
    font-size: 2rem;
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    
}
.p-h{
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.548);
}
.l-s p{
  margin-left: 1.6rem;
  margin-bottom: 2rem;
   color: rgba(0, 0, 0, 0.548);
}
.l-s{
 max-width: 60%;
 margin: 0 auto;
 text-align: start;
}
li{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 550;
    list-style-type: circle;
    list-style: 2rem;
    
}

/* Section 4*/

.section-4{
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    padding: 4rem;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 0.3rem;
    margin-bottom: 4rem;
}
.hp{
    text-align: center;
    line-height: 2.8rem;
    color: rgba(255, 255, 255, 0.582);
}
.section-4 h2{
    font-size: 2rem;
    max-width: 40%;
    margin: 0 auto;
    color: white;
    letter-spacing: 2px;
}
.cards-4{
    max-width: 66%;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 27rem;
    background-color: rgba(44, 53, 56, 0.664);
}
.cards-4 h4{
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: lighter;
}
.cards-4 p{
    color:rgba(255, 255, 255, 0.582);
}
#for-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
    
}
.cards-44{
    text-align: center;
    border-radius: 1rem;
    max-width: 83%;
    margin: 0 auto;
    height: 13rem;
    background-color: rgba(12, 120, 128, 0.507);
    padding: 0.1rem;
}
.cards-44 h4{
    font-size: 1.4rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.897);
    letter-spacing: 1px;
}
.cards-44 p{
    max-width: 40%;
    margin: 0 auto;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.582);
}
.cards-44 button{
    width: 20%;
    padding: 0.8rem;
    border-radius: 1rem;
    color:  rgb(12, 120, 128);
    background-color: rgba(250, 235, 215, 0.76);
    font-size: 1rem;
    border: none;
    transition: 0.5s;
}
.cards-44 button:hover{
    background-color:rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.925);
}
.section-4 span{
    font-size: 1.6rem;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}
.cards-4 button{
    width: 80%;
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: rgba(44, 53, 56, 0.664);
    border: 1px solid white;
    display: block;
    margin-left: 2.1rem;
    color: white;
    margin-bottom: 2rem;
    transition: 0.5s;
    font-size: 1rem;
}
.cards-4 button:hover{
    color: black;
    background-color: white;
}
.extt{
    text-align: center;
}
.cards-4 li{
    font-size: 1rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.616);
}
#wrap{
    max-width: 90%;
    margin: 0 auto;
}



/* Section 5*/
.section-5{
    padding: 2rem;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
     border-radius: 0.3rem;
}
.section-5 h2{
    font-size: 2rem;
}
.section-5 p{
    color: rgba(5, 5, 5, 0.534);
    margin-bottom: 3rem;
}
.section-5 button{
    background-color: rgba(0, 0, 0, 0.993);
    color: rgba(248, 248, 248, 0.76);
    border-radius: 1rem;
    border: none;
    font-weight: lighter;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    transition: 0.5s;
}
.section-5 button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.section-5 img{
  width: 80%;
  margin: 0 auto;
}
.sc-5h{
    padding: 3rem;
}

/* Footer*/
footer{
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 2rem;
  
}
.f-head{
    background-color: rgba(12, 52, 78, 0.747);
    padding: 3.4rem;
  
}
footer h2{
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
}
.f-head p{
    max-width: 35%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.527);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
footer button{
    width: 12%;
    padding: 0.8rem;
    border-radius: 1rem;
    color:  rgb(12, 120, 128);
    background-color: rgba(248, 209, 159, 0.87);
    font-size: 1rem;
    border: none;
    transition: 0.5s;
}
footer button:hover{
    background-color:rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.925);
}
.foot{
    background-color: rgba(75, 74, 65, 0.637);
    color: white;
    padding: 3rem;
    
}
.f-ft{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 9%;
}
.f-1{
  text-align: start;

}
.h-img {
  display: flex;
  align-items: center; /* vertically align image and text */
  gap: 1rem; /* optional spacing */
  max-width: 60%;
  justify-content: center;
}

.h-img img {
  width: 20%;      /* or your desired size */
  object-fit: contain;
}
.h-img h4{
  font-size: 1.3rem;
  font-weight: lighter;
}
.f-ft p{
    max-width: 75%;
    color:rgba(255, 255, 255, 0.712);
}
.start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.712);
}
.end{
    display: flex;
    gap: 1rem;
    color: rgba(255, 255, 255, 0.712);
}
table{
    border-collapse: collapse;
    width: 100%;
}
table td{
    color: rgba(255, 255, 255, 0.712);
    padding: 0.4rem;
}
table th{
    padding: 0.7rem;
}
.get img{
  width: 20%;
  padding: 0.4rem;
  margin-top: 0.4rem;
}
.get a{
    color: rgba(255, 255, 255, 0.637);
    transition: 0.5s;
}
.get a:hover{
    color: black;
}
hr{
    margin-top: 3rem;
   
}